[Unit]
Description=Meow SvelteKit Frontend Service
After=network.target

[Service]
Type=simple
User=hungg562002
WorkingDirectory=/home/hungg562002/project/meow/frontend
# Tự động nạp động các biến PORT, ORIGIN... từ file .env thực tế trên VPS
EnvironmentFile=/home/hungg562002/project/meow/frontend/.env
ExecStart=/usr/bin/node build
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=meow-frontend

[Install]
WantedBy=multi-user.target
