[Unit]
Description=Meow Go Backend Service
After=network.target

[Service]
Type=simple
User=hungg562002
WorkingDirectory=/home/hungg562002/project/meow/backend
ExecStart=/home/hungg562002/project/meow/backend/meow-backend
EnvironmentFile=/home/hungg562002/project/meow/backend/.env
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=meow-backend

[Install]
WantedBy=multi-user.target
